*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: 'Montserrat';
    src:url(./../static/Montserrat-Black.ttf)
}
h1,h2,h3,h4,h5,h6,p,a,span,li{
    font-family: 'Montserrat';}
header{
    height: 80px;
   background-color: #2C3E50;
   position: fixed;
   width: 100%;
   
}
header nav{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    gap:20px;
    margin:20px;
}

ul li{list-style: none;
    padding:0 15px;
}
   
ul li a{
    color: white;
    font-size: larger;
    text-decoration: none;
    font-weight: bold;
   
}
header nav ul li:hover a{
    color: #1ABC9C;
}
div h1{
    margin:20px;
    color:white;
    text-transform: uppercase;
}
body{
    height: 200vh;
}
.mobile-humburger-menu{
    background-color: #1ABC9C;
    padding: 14px 12px;
    border-radius: 6px;
    width: 12%;
    color: white;
    display:none;
}
@media only screen and url(min-width:992px) {
    .mobile-hamburger-menu{
        display: block;}
        header nav .ul{
            display: none;}

}
@media only screen and (max-width:576px) {
    h1{
        font-size: 14px;
    }
}