
body{
    background-color: aquamarine;
    pad: 50px;
}
.main{
    border:1px solid blue;
    background-color: whitesmoke;
    width: 40%;
    height: 500px;
    margin:50px;
    
}

.circle{
    border: 1px solid red;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    position: absolute;
    left:10px;
    top:10px;
}
button{
    border-radius: 25px;
    width: 150px;
    height: 50px;
    margin-top:150px;
    margin-left:15px;
    background-color: darkcyan;
}
  