header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main {
  width: 100%;
  height: 50vh;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  font-size: 100px;
}

.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid black;
}
