body {
  background-color: whitesmoke;
  .register-form {
    margin-top: 50px;
    width: 40%;
    background-color: white;
    padding: 30px;
    border-radius: 5px;

    .login-btn {
      width: 100%;
    }
  }
}
